src/main/app/database-initialisation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:quartz="http://www.mulesoft.org/schema/mule/quartz"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/quartz http://www.mulesoft.org/schema/mule/quartz/current/mule-quartz.xsd">
	<spring:beans>
		<spring:bean id="DBSetup" name="DBSetupBean"
			class="com.whiteskylabs.estore.DBSetup">
			<spring:property name="derbyConnector"
				ref="Generic_Database_Configuration" />
		</spring:bean>
	</spring:beans>

	<flow doc:name="database-initialisation" name="database-initialisation"
		initialState="started">
		<quartz:inbound-endpoint name="runOnce"
			repeatCount="0" repeatInterval="5001" jobName="trigger-db" doc:name="Quartz"
			responseTimeout="10000">
			<quartz:event-generator-job>
				<quartz:payload>db-initialised</quartz:payload>
			</quartz:event-generator-job>
		</quartz:inbound-endpoint>
		<component doc:name="db-setup">
			<spring-object bean="DBSetup">
			</spring-object>
		</component>

		<catch-exception-strategy doc:name="catch-exception-strategy">
			<set-payload doc:name="'table already populated'" value="#[exception.message()]" />
		</catch-exception-strategy>
	</flow>
</mule>