src/main/app/get-non-samsung-price-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow doc:name="non-samsung-price-service" name="non-samsung-price-service">
		<http:inbound-endpoint connector-ref="HttpConnector"
			doc:name="non-samsung-price-service" exchange-pattern="request-response" host="${http.host}"
			path="${api.price}" port="${http.port}" />
		<jersey:resources doc:name="get-non-samsung-product-price">
			<component class="com.mulesoft.estore.orders.ProductPrice" />
		</jersey:resources>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="#[exception.message]" level="INFO" doc:name="log-error-message"/>
            <vm:outbound-endpoint exchange-pattern="one-way" path="send-notifation-email" doc:name="send-notifation-email"/>
        </catch-exception-strategy>
	</flow>
</mule>
